fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic[email]
alembic
passlib[bcrypt]
python-jose[cryptography]
bcrypt==4.0.1
python-multipart
jinja2
python-multipart
gunicorn
requests
reportlab
apscheduler
openai>=1.50.0