{% extends 'base.html' %}

{% block title %}
Propiedades
{% endblock %}

{% block content %}

<div class="flex items-center justify-between mb-8">

    <div>

        <h1 class="text-3xl font-bold text-gray-800">
            Propiedades
        </h1>

        <p class="text-gray-500 mt-1">
            Gestión de inmuebles
        </p>

    </div>

    <button
        onclick="openModal()"
        class="bg-black text-white px-5 py-3 rounded-xl"
    >
        Nueva Propiedad
    </button>

</div>

{% include 'properties/table.html' %}

{% include 'properties/form.html' %}

{% endblock %}