{% extends 'base.html' %}

{% block title %}
Clientes
{% endblock %}

{% block content %}

<div class="flex items-center justify-between mb-8">

    <div>

        <h1 class="text-3xl font-bold text-gray-800">
            Clientes
        </h1>

        <p class="text-gray-500 mt-1">
            Gestión de clientes registrados
        </p>

    </div>

    <button
        onclick="openModal()"
        class="bg-black text-white px-5 py-3 rounded-xl hover:opacity-90"
    >
        Nuevo Cliente
    </button>

</div>

{% include 'clients/table.html' %}

{% include 'clients/form.html' %}

{% endblock %}